version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      minor-patch:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
      major:
        patterns:
          - "*"
        update-types:
          - "major"
    rebase-strategy: "auto"
    commit-message:
      prefix: "chore(deps):"
    labels:
      - "dependencies"
    target-branch: "main"

