name: Renovate

on:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: renovatebot/github-action@v44.0.4
        with:
          token: ${{ secrets.RE_TE }}
          configurationFile: .github/renovate-config.json
          logLevel: 'debug'